:root{
    --bg-dark: #4444;
    --bg-light: #9e9b9b;

    --color-1: #fff;
    --color-2: rgb(34, 33, 33);

    --gap-1: .5rem;
    --gap-2: 1rem;
    --gap-3: 2rem;
    --gap-4: 4rem;
    --gap-5: 5rem;

}

.gap-1 { gap: var(--gap-1); }
.gap-2 { gap: var(--gap-2); }
.gap-3 { gap: var(--gap-3); }
.gap-4 { gap: var(--gap-4); }
.gap-5 { gap: var(--gap-5); }

.pad-1 { padding: var(--gap-1); }
.pad-2 { padding: var(--gap-2); }
.pad-3 { padding: var(--gap-3); }
.pad-4 { padding: var(--gap-4); }
.pad-5 { padding: var(--gap-5); }

.mar-top-1 { margin-top: var(--gap-1) ;}
.mar-top-2 { margin-top: var(--gap-2) ;}

.f-size-1 { font-size: var(--gap-1);}
.f-size-2 { font-size: var(--gap-2);}
.f-size-3 { font-size: var(--gap-3);}
.f-size-4 { font-size: var(--gap-4);}

/*----------------------------------------------*/

.bg-gray{ background-color: var(--bg-dark); }
.bg-white{ background-color: var(--bg-light); }
/*----------------------------------------------*/

.width-fit { width: fit-content;}
.w-80px { width: 80px; }
/*----------------------------------------------*/

.flex{ display: flex; }
.center-center{ justify-content: center; align-items: center; }
.column{ flex-direction: column; }
/*----------------------------------------------*/

.grid-4{ 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2.5rem;
}
/*----------------------------------------------*/

.btn{
    border: 1px solid #444;
    border-radius: 8px;
    padding: .25rem;
    cursor: pointer;
    transition: all .2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover{ background-color: #e2678c;}
}
/*----------------------------------------------*/
